/* Font Family
================================================== */
/*
@import url("http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,600,800");
*//*@import url(//fonts.googleapis.com/css?family=Lato:300,400);*/

/* CSS Reset
================================================== */
html, body, div, span, h1, h6, p, a, ul, li, audio {
	border: 0;
	font: inherit;
	font-size: 100%;
	font-color: white;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

/* Basic Styles
================================================== */
html, body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	background-color: black;
	color: white;
	font: 20px/24px "Lato", HelveticaNeue, "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	font-color: white;
	font-weight: 300;
	padding: 5px 0;
}

body {
	zoom: 100%;
}

/* Desktop
================================================== */
.audioplayer * {
        width: 100%;
        max-width: 100%;
        cursor: pointer;
}

.audioplayer, a {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

* {
	cursor: default;
}

.container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	xxxwidth: 700px;
}

.column {
	width: inherit;
	border-style: solid;
	border-width: 0px;
	background-color: #000;
}

.player {
	background-color: black;
}

.head {
	margin-bottom: 20px;
}

html {
	overflow: hidden;
}

body {
	line-height: 1;
	overflow: hidden;
	margin-top: 40px;
/*
	counter-reset: myAwesomeCounter;
*/
}

ol {
	margin-top: 40px;
	overflow-x: hidden;
	overflow-y: auto;
	display: block;
	list-style-type: none;
	max-height: 79vh;
	padding-left: 30px;
	padding-right: 30px;
}

li { 
	padding: 0;
	border-bottom: 1px solid #222;
	-webkit-column-break-inside: avoid;
}

/*
li:before {
	counter-increment: myAwesomeCounter;
	content: counter(myAwesomeCounter) "."; 
}
*/

li:first-child {
	border-top: 1px solid #222; 
}
  
a, li, .current {
	display: block; 
	padding-right: 0;
	text-overflow: ellipsis;
	white-space:nowrap;
}

a, .current {
	text-decoration: none;
	outline: 0;
	height: 2.3em;
	line-height: 2.3em;
}

a:hover, li:hover, .current:hover {
	background-color: #111;
}

.current, a:focus, li:focus {
	background-color: #000;
	color: hsl(45,80%,50%); 
}
